*{
font-family:Times new roman,serif;
}

.center{
display:block;
margin-left:auto;
margin-right:auto;}

.center2{
height:auto;
width:100%;}

.sidenav{
height:100%;
width:0;
position:fixed;
z-index:1;
top:0;
left:0;
background-color:#f3efe0;
overflow-x:hidden;
transition:0.5s;
padding-top:60px;
}

.sidenav a{
padding:8px 8px 8px 32px;
text-decoration:none;
font-size:25px;
color:black;
display:block;
transition:0.3s;
background-color:#f3efe0;
}

.sidenav a:hover{color:#659dbd;}

.sidenav .closebtn{
position:absolute;
top:0;
right:25px;
font-size:36px;
margin-left:30px;
}

span:hover {color:darkblue;}

audio{display:none;}

a{
text-decoration:none;
font-size:150%;
font-family: Arial, Helvetica, sans-serif;
color:#015249;
}

a:hover{color:#1d2731;}

img:hover{
animation: shake 0.5s; 
animation-iteration-count: infinite; 
}

@keyframes shake {
0% { transform: translate(1px, 1px) rotate(0deg); }
10% { transform: translate(-1px, -2px) rotate(-1deg); }
20% { transform: translate(-3px, 0px) rotate(1deg); }
30% { transform: translate(3px, 2px) rotate(0deg); }
40% { transform: translate(1px, -1px) rotate(1deg); }
50% { transform: translate(-1px, 2px) rotate(-1deg); }
60% { transform: translate(-3px, 1px) rotate(0deg); }
70% { transform: translate(3px, 1px) rotate(-1deg); }
80% { transform: translate(-1px, -1px) rotate(1deg); }
90% { transform: translate(1px, 2px) rotate(0deg); }
100% { transform: translate(1px, -2px) rotate(-1deg); }
}

head{
background-color:#f7f9fb;
}

main{
background-color:#62ff59;
height:100%;}

h1{
text-align:center;
font-family:Footlight MT Light, Times New Roman, serif;
color:#1d2731;
font-size:300%;
}	

p{
font-size:140%;
font-family:Verdana, Arial, sans-serif;
margin-left:280px;
margin-right:280px;
}

footer{
width: 100%;
text-align:center;
background-color:#f4decb;
}

@media only screen and (max-width: 1024px) { 
.position{position:absolute;}	
.sidenav{padding-top:15px;}
.sidenav a{font-size:130%;}
p{margin:auto;
margin-left:20px;
margin-right:20px;}
}


@media only screen and (max-width: 768px) {
.position{position:absolute;}	
.sidenav{padding-top:15px;}
.sidenav a{font-size:130%;}
h1{text-align:center;
	font-size:2em;}
p{font-size:1.4em;
margin:auto;
margin-left:10px;
margin-right:10px;}
body{width:100%;}
footer a{font-size:0.9em;}
}
